.NewsForm{
    width: 80%;
    margin: auto;
    display: block;
}
.NewsForm textarea {
    width: 400px;
    margin: 10px;
}
.NewsForm input{
    margin: 10px;
}
.NewsForm button {
    margin: 30px;
    padding: 10px;
}